/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

.np-bg-color {
    background: #5D5FEF !important;
}
.np-text-color {
    color: #5D5FEF !important;
}